* {
  box-sizing: border-box;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: #4c0a03;
}

header {
  display: flex;
  text-align: center;
  align-items: center;
}

.line {
  width: 100%;
  background-color: #345144;
  height: 2px;
}

h2 {
  font-weight: 200;
  font-size: 2em;
  width: 900px;
}

.selector {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
  margin: 0 auto;
}

.selector__title {
  margin-right: 10px;
}

.option {
  width: 96px;
  height: 96px;
  margin: 2px;
  transition: all 1s ease;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

body {
  background-color: #f9c760;
}

.container {
  margin: 0 auto;
  width: 900px;
}

.wrapper {
  margin: 0 40px;
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}

.wrapper div {
  border: dashed 2px #345144;
  width: 95px;
  height: 100px;
  margin: 0 5px 5px 0;
}


footer {
  text-align: center;
}

.fa-undo {
  margin: 20px 0;
}

.fa-undo:hover {
  transform: rotate(-360deg);
  transition: transform 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.scoreboard {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 0 auto;
  padding: 5px;
}

.score__whitespace {
  width: 75%;
}

.score__block {
  width: 25%;
  text-align: center;
}

.player-name {
  text-align: left;
  width: 75%;
}

.player-score {
  width: 25%;
  text-align: center;
}

.box {
  transition: opacity 600ms ease;

}

.fade {
  opacity: 0;
  transition: opacity 600ms ease;
}

.show {
  opacity: 1;
  transition: opacity 300ms ease;
}

.owen1 {
  background: url('../img/owen1.jpg');
}

.owen2 {
  background: url('../img/owen2.jpg');
}

.owen3 {
  background: url('../img/owen3.png');
}

.owen4 {
  background: url('../img/owen4.png');
}

.owen5 {
  background: url('../img/owen5.jpg');
}

.owen6 {
  background: url('../img/owen6.jpg');
}